 <!--@{
    ViewData["Title"] = "Customer Create Page";
}
-->

@model Vaccination.Models.Customer.CustomerCreateModel;

<form method="post" action="">
    <div class="mb-3">
        <lable class="form-label" >Name</lable>
        <input type="text" class="form-control" asp-for="Name"/>
    </div>

    <div class="mb-3">
        <lable class="form-label">Indentity Id</lable>
        <input type="number" class="form-control" asp-for="IndentityId" />
    </div>
    <div class="mb-3">
        <lable class="form-label">Date Of Birth</lable>
        <input type="date" class="form-control" asp-for="DOB" />
    </div>
    <div class="mb-3">
        <lable class="form-label">Provice</lable>
        <input type="text" class="form-control" asp-for="ProvinceId" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>